<!-- <p id="notice"><%= notice %></p> -->

<!-- <p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Length:</strong>
  <%= @movie.length %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p> -->
		<script>
			$(document).on('turbolinks:load', function () {
				$("#videoPlayer").toggle();
				$(".posted_reviews").toggle();
			});
		</script>
		<script>
		$(document).ready(function() {
		  var icon = $('.play_button');
		  icon.click(function() {
				$("#banner_contents").toggle(400);
				var url ="http://localhost:83/<%= @movie.url %>/manifest.mpd";
				var video = document.querySelector("#videoPlayer");
				var player = dashjs.MediaPlayer().create();
				player.initialize(video, url, true);
				$("#videoPlayer").toggle(600);
		  });
		});
		</script>
		<script>
		$(document).ready(function() {
		  $('.toggleReviews').click(function() {
				$(".posted_reviews").toggle(250);
		  });
		});
		</script>
		<style>
			video {
				width: 860px;
				height: 480px;
			}
		</style>

<section id="banner" class="clearfix" style="background: url(<%=@movie.background.url(:bg)%>);">

	<video id="videoPlayer" controls="true"></video>
	<div id="banner_contents">
  <div id="banner_content_wrapper">
    <div id="poster">

      <%= image_tag @movie.image.url(:medium), class: "featured_image", alt: "Movie Poster" %>
      <img src="#" alt="" class="play_button"/>
    </div>
    <div id="content">
      <h2 class="title"><%= @movie.title %></h2>
      <div class="ratings">
        <div class="star-rating" data-score= <%=@avg_review %> </div>
      </div>
      <p class="reviewsCounter"><em><%= "#{@reviews.length} reviews" %></em></p>
      <p class="description"><%= @movie.description %></p>

      <p class="info"><%= @movie.rating %><span>|</span> <%= @movie.length %> <span>|</span> <%= @movie.genre %> <span>|</span> <%= @movie.releaseDate %> </p>
    </div>
  </div>
</div>
</section>

<!-- <section id="video" class="clearfix">
</section> -->

<section id="reviews" class="clearfix">
  <% if @reviews.blank? %>
    <h3>No reviews</h3>
  <% else %>
	<button class="toggleReviews">Toggle Reviews</button>
    <% @reviews.each do |review| %>
      <div class="posted_reviews">
        <p><b><%= review.title %></b></p>
				<p class="star-rating" data-score= <%= review.rating %></p>
        <p class="review_body"><%= review.body %></p>
				<!-- < if review.user_id==current_user.id %>
				<= link_to 'Edit', edit_movie_review_path(review._id) %>
				<end %> -->
      </div>
      <% end %>
    <% end %>
</section>

<p class="siteButton"><%= link_to 'Write a Review', new_movie_review_path(@movie) %></p>

<% if current_user.id == 1%>
<div class="siteWarningButton"><%= link_to 'Edit Movie', edit_movie_path(@movie) %></div>
<%end%>

<%= render 'movies/top' %>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
