<section id="top_movies" class="clearfix">
  <div class="wrapper">
    <header class="clearfix">
      <h2>Recommended Movies</h2>
    </header>

    <div class="row">
      <% @recommendedMovies.each do |movie| %>
      <div class="post">
        <%=link_to image_tag(movie.image.url(:medium), alt: "Poster"), movie%>
        <h2><%= movie.title %></h2>
        <p class="post_info"><%= movie.rating %> | <%= movie.length %></p>
      </div>
      <% end %>
    </div>

  </div>
  </section>

<section id="latest_movies" class="clearfix">
  <div class="wrapper">
    <header class="clearfix">
      <h2>Latest Movies</h2>
      <p class="view_more"><%= link_to 'View All Movies', movies_path %></p>
    </header>

    <div class="row">
      <% @movies.each do |movie| %>
      <div class="post">
        <%=link_to image_tag(movie.image.url(:medium), alt: "Poster"), movie%>
        <h2><%= movie.title %></h2>
        <p class="post_info"><%= movie.rating %> | <%= movie.length %></p>
      </div>
      <% end %>
    </div>

  </div>
  </section>
