<h1><%= @review.title %></h1>
<div><b>Rating: <%= @review.rating %></b></div>
<div><%= @review.body %></div>

<%= link_to "Edit Review", edit_review_path(@review) %>

<%= link_to "Delete Review", review_path(@review), method: :delete, data: {confirm: "Are you sure?"} %>